[Unit]
Description=Mail Server
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=1
ExecStartPre=-/usr/bin/docker kill mail-server
ExecStartPre=-/usr/bin/docker rm -f mail-server
#ExecStartPre=/usr/bin/docker pull darco/mail-server
ExecStartPre=-/usr/bin/docker create --name="mail-server-backing" darco/mail-server
ExecStart=/usr/bin/docker run \
	--sig-proxy=true \
	--name mail-server \
	-p 25:25/tcp \
	-p 143:143/tcp \
	-p 587:587/tcp \
	--volumes-from=mail-server-backing \
	darco/mail-server
ExecStop=/usr/bin/docker stop -t 5 mail-server

[Install]
WantedBy=multi-user.target

